body {
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
    color: #434455
}

:root {
    --background-color: #FFFFFF;
    --color-nav-titles: #2E2F42;
    --color-text-address: #434455;
    --color-h1-textbutton: #FFFFFF;
    --color-logo-textbutton: #4D5AE5;
    --color-soc-icons: #4D5AE5;
    --color-header-cardsbackground: #F4F4FD;
    --color-footertext: #F4F4FD;
    --color-buttonbackground: #F4F4FD;
    --color-darkbackground: #2E2F42;
    --color-hoverfocus-elements: #404BBF;
    --color-icons-passive: #8e8f99;
    --color-modal-items: #8e8f99;
    --color-backdrop-modal: #FCFCFC;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

.list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-header,
.list-address {
    gap: 40px;
}

.link {
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
    text-decoration: none;
    color: var(--color-hoverfocus-elements);
}

.link.current {
    color: var(--color-hoverfocus-elements);
}

.button:hover,
.button:focus {
    font-family: inherit;
    text-decoration: none;
    background: var(--color-hoverfocus-elements);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--color-h1-textbutton);
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/**Header**/
.header {
    border-bottom: 1px solid #E7E9FC;
    background-color: var(--background-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo-header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-logo-textbutton);
}

.studio {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-darkbackground);
}

.list-header {
    display: none;
}

.header-address {
    display: none;
}

/**Modalmenu**/

.menu-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 32px;
    background-color: var(--background-color);
    z-index: 2;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .button-close-menu {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.button-close-menu {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 24px;
    right: 24px;
    background: #E7E9FC;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close-menu:hover,
.button-close-menu:focus {
    background: #404BBF;
    border: none;
}

.button-close-menu:hover .close-back,
.button-close-menu:focus .close-back {
    background: #404BBF;
    fill: #FFFFFF;
}

.close-back {
    fill: var(--color-darkbackground);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-open-menu {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: block;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-open-menu:hover .button-open-icon,
.button-open-menu:focus .button-open-icon {
    background-color: var(--color-buttonbackground);
}

.button-open-icon {
    stroke: var(--color-darkbackground);
}

/**Modalpage**/

.modal-page-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    overflow: scroll;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--color-backdrop-modal);
    padding: 80px 24px 40px 40px;
}


.modal-list-header,
.modal-list-address {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.modal-list-header {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.modal-header-items {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--color-nav-titles);
}

.modal-list-address {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
}

.modal-tel-items {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style: normal;
    font-style: normal;
    color: var(--color-soc-icons);
}

@media (min-width: 428px) {
    .modal-tel-items {
        font-size: 36px;
        line-height: 1.11;
    }
}

.modal-email-items {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style: normal;
    font-style: normal;
    color: var(--color-text-address);
}

.modal-list-soc-icons {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    padding-right: 36px;
}

@media (min-width: 428px) {
    .modal-list-soc-icons {
        width: 328px;
        padding-right: 0px;
    }
}

.modal-address-socmedia {
    display: flex;
    flex-direction: column;
}

/**Main**/

/**Section 1**/
.section-one {
    padding-top: 112px;
    padding-bottom: 112px;
    justify-content: center;
    background-color: var(--color-darkbackground);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mob-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .section-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mob-2x.jpg);
    }
}

.container-section-one {
    justify-content: center;
}

.section-one-h-one {
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    max-width: 320px;
    letter-spacing: 0.02em;
    color: var(--color-h1-textbutton);
}

.section-one-button {
    font-family: inherit;
    background: var(--color-logo-textbutton);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: block;
    text-align: center;
    align-items: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--color-h1-textbutton);
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    left: 636px;
    top: 428px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-one-button:hover,
.section-one-button:focus {
    background: var(--color-hoverfocus-elements);
}

/**Section 2**/

.section-two {
    padding-top: 96px;
    padding-bottom: 96px;
}

.container-section-two {
    padding: 0 16px;
}

.titles-h-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-nav-titles);
    margin-bottom: 72px;
}

.list-principles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {

    .list-principles {
        max-width: 396px;
    }
}

.element-list-principles {}

.principle-form {
    display: none;
}

.principle-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-two-items {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-nav-titles);
    margin-bottom: 8px;
}

.section-two-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text-address);
}

/**Section 3**/

.section-three {
    display: none;
}

/**Section 4**/

.section-four {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: var(--color-buttonbackground);
}

.list-four-cardsbackground {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {

    .list-four-cardsbackground {
        width: 264px;
    }
}

.section-four-cardsbackground {
    background: var(--background-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.info-team-member {
    padding: 32px 16px;
}

.section-four-photos {}

.section-four-items {
    margin-bottom: 8px;
}

.section-items {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-nav-titles);
}

.section-four-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text-address);
    margin-bottom: 8px;
}

.list-icons-team-member {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.icon-team-member {
    width: 40px;
    height: 40px;
}

.soc-icon-link {
    width: 100%;
    height: 100%;
    background-color: var(--color-soc-icons);
    fill: var(--color-buttonbackground);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-icon-link:hover,
.soc-icon-link:focus {
    background-color: var(--color-hoverfocus-elements);
}

/*Customers*/

.section-five {
    padding-top: 96px;
    padding-bottom: 96px;
}

.customer-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 16px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {

    .customer-list {
        max-width: 396px;
    }
}

.icons-customer {
    width: calc((100% - 16px) / 2);
    height: 88px;
}

.customer-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-icons-passive);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
    border-color: var(--color-hoverfocus-elements);
}

.customer-link:hover .customer-icon {
    fill: var(--color-hoverfocus-elements);
}

.customer-icon {
    fill: currentColor;
}

/**Footer**/

.footer {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: var(--color-darkbackground);

}

.footer-container {
    display: block;
}

.container-logo-info {
    margin-bottom: 70px;
}

.footer-text {
    margin: 0 auto;
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-footertext);
}

.footer-logos {
    margin-bottom: 16px;
    justify-content: center;
}

.footer-logo {
    display: inline-block;
    color: var(--color-footertext);
}

.container-social-media {
    margin-bottom: 72px;
}

.footer-soc-med {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-h1-textbutton);
    margin-bottom: 16px;
}

.soc-icon-item {
    fill: var(--color-footertext);
}

.list-icons-social-media {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.icon-social-media {
    width: 40px;
    height: 40px;
}

.footer-socmed-nav:hover,
.footer-socmed-nav:focus {
    background-color: #31D0AA;
}

.container-subscribe {}

.form-footer {
    display: block;
    width: 100%;
}

.footer-email {}

.footer-input {
    width: 100%;
    height: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
    padding-left: 16px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    opacity: 0.3;
    background-color: transparent;
    color: var(--background-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
    color: #FFFFFF;
}

@media (max-width: 767px) {
    .footer-input {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 392px;
        margin-left: auto;
        margin-right: auto;
    }
}

.footer-modal-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 165px;
    height: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--color-h1-textbutton);
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
    padding: 8px 24px;
    background: var(--color-soc-icons);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.footer-icon-plane {
    margin-left: 16px;
    fill: #FFFFFF;
}

/**Modalwindow**/
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    top: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: scale(0);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    min-height: 584px;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--color-backdrop-modal);
    padding: 72px 24px 24px 24px;
}

@media (min-width: 428px) {
    .modal {
        width: 392px;
    }
}

.modal-close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background: #404BBF;
    border: none;
}

.modal-close:hover .close-back,
.modal-close:focus .close-back {
    background: #404BBF;
    fill: #FFFFFF;
}

.close-back {
    fill: var(--color-darkbackground);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-nav-titles);
}

.modal-field {
    margin-bottom: 8px;
}

.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    display: block;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    color: var(--color-modal-items);
}

.input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-nav-titles);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.modal-input:focus {
    border-color: var(--color-soc-icons);
}

.modal-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.modal-icon {
    fill: var(--color-soc-icons);
}

.modal-textarea {
    margin-bottom: 16px;
}

.modal-text {
    height: 100px;
    resize: none;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
}

@media (min-width: 428px) {
    .modal-text {
        height: 120px;
    }
}

.modal-verification {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.input-verification {}

.modal-checkbox-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-check {
    /*display: flex;*/
}

.label-verification {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-modal-items);
}

.input-verification:checked+.label-verification span {
    background-color: var(--color-hoverfocus-elements);
    border: none;
    fill: var(--color-buttonbackground);
}

.privacy-policy {
    color: var(--color-soc-icons);
}

.modal-button {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    text-align: center;
    align-items: center;
    cursor: pointer;
    color: var(--color-h1-textbutton);
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    background: var(--color-soc-icons);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/**Portfolio**/
/**List buttons**/

.section-five-buttons {
    padding-top: 48px;
    padding-bottom: 48px;
}

.list-five-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 16px;
    margin-bottom: 48px;
}

.button-items {
    background: var(--color-buttonbackground);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    min-width: 69px;
    height: 48px;
    padding: 12px 24px;
    color: var(--color-logo-textbutton);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-items:hover,
.button-items:focus {
    border: 1px solid transparent;
}

.list-portfolio-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    row-gap: 48px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 427px) {

    .list-portfolio-card {
        width: 290px;
    }

    .portfolio-cardsbackground {
        width: 290px;
    }

    .portfolio-photos {
        width: 290px;
    }
}

@media (max-width: 767px) {

    .list-portfolio-card {
        width: 396px;
    }
}

.container-potfolio-cards {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


.portfolio-cardsbackground:hover .portfolio-cover-text {
    transform: translateY(0%);
}

.cardslink:focus .portfolio-cover-text {
    transform: translateY(0%);
}

.cardslink {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cardslink:hover,
.cardslink:focus {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.cards-photos-cover-text {
    position: relative;
    overflow: hidden;
}

.portfolio-cover-text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--color-buttonbackground);
    background-color: var(--color-logo-textbutton);
}

.portfolio-photos {}

.portfolio-items {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-nav-titles);
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text-address);

}

@media (max-width: 427px) {

    .portfolio-items {
        font-size: 17px;
    }

}

.go-top {
    position: fixed;
    z-index: 7;
    border-radius: 50%;
    right: 50px;
    bottom: 50px;
    cursor: pointer;
    display: none;
    font-size: 20px;
    color: var(--color-soc-icons);
    border: 1px solid var(--color-soc-icons);
    background-color: var(--background-color);
    padding: 15px;
}


.go-top:hover {
    color: var(--color-hoverfocus-elements);
    border: 1px solid var(--color-hoverfocus-elements);
    background-color: rgba(0, 51, 153, 0.15);
}


.go-top--show {
    display: block;
}
