@media (min-width: 768px) {

    .button-open-menu {
        display: none;
    }

    /**Header**/
    .header {
        border-bottom: 1px solid #E7E9FC;
        background-color: var(--background-color);
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }

    .header-container {
        display: flex;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }


    .header-items.current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: var(--color-hoverfocus-elements);
        border-radius: 2px;
    }

    .header-items:hover::after,
    .header-items:focus::after,
    .link.current {}

    .link.current {
        color: var(--color-hoverfocus-elements);
    }

    .header-items {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: block;
        padding: 24px 0;
        letter-spacing: 0.02em;
        color: var(--color-nav-titles);
        position: relative;
    }

    .list-header {
        display: flex;
        margin-left: 120px;
        margin-right: 120px;
    }

    .header-address {
        display: flex;
        text-decoration: none;
        list-style: normal;
        font-style: normal;
        margin-left: auto;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .list-address {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }

    .address-items {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        text-decoration: none;
        display: block;
        color: var(--color-text-address);
    }

    /**Modalmenu**/

    .menu-container {
        display: none;
    }

    /**Main**/

    /**Section 1**/

    .section-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab-1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .section-one {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab-2x.jpg);
        }
    }

    .section-one-h-one {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }

    .section-one-button {
        margin-top: 36px;
    }

    /**Section 2**/

    .section-two-items {
        text-align: left;
    }

    .list-principles {
        gap: 72px 24px;
    }

    .element-list-principles {
        width: calc((100% - 24px) / 2);
    }

    /**Section 3**/

    /**Section 4**/

    .section-four {}

    .list-four-cardsbackground {
        gap: 64px 24px;
    }

    /*Customers*/

    .customer-list {
        gap: 72px 24px;
    }

    .icons-customer {
        width: calc((100% - 48px) / 3);
    }

    /**Footer**/

    .footer-container {
        padding-left: 108px;
    }

    .container-without-subscribe {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 24px;
    }

    .footer-logos {
        justify-content: left;
    }

    .footer-soc-med {
        text-align: left;
    }

    .container-subscribe {
        margin-bottom: 72px;
    }

    .form-footer {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
    }

    .footer-input {
        width: 264px;
    }

    .footer-modal-button {
        margin: 0;
    }
}

@media (min-width: 768px) and (max-width: 1157px) {
    .header-address {
        width: 120px;
    }

    .list-four-cardsbackground,
    .customer-list {
        width: 582px;
    }

    .list-principles {
        max-width: 736px;
    }
}