@media (min-width: 1158px) {

    /**Main**/

    /**Section 1**/
    .section-one {
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440px;
    }

    .section-one-button {
        margin-top: 48px;
    }

    .section-one-button:hover,
    .section-one-button:focus {
        background: var(--color-hoverfocus-elements);
    }

    /**Section 2**/

    .section-two {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .container-section-two {
        padding: 0 15px;
    }

    .section-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-text-address);
    }

    .list-principles {
        gap: 24px;
        justify-content: space-between;
    }

    .element-list-principles {
        width: calc((100% - 72px) / 4);
    }

    .principle-form {
        height: 112px;
        background: var(--color-buttonbackground);
        display: flex;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }

    .section-two-items {
        text-align: left;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .section-two-text {
        max-width: 264px;
        font-weight: 400;
    }

    /**Section 3**/

    .section-three {
        display: flex;
        padding-bottom: 120px;
    }

    .element-section-three {
        width: calc((100% - 48px) / 3);
    }

    .list-section-three {
        gap: 24px;
    }

    /**Section 4**/

    .section-four {
        padding-top: 120px;
        padding-bottom: 120px;
    }


    .section-four-cardsbackground {
        width: calc((100% - 72px) / 4);
    }

    /*Customers*/

    .section-five {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .customer-list {
        gap: 24px;
    }

    .icons-customer {
        width: calc((100% - 120px) / 6);
    }

    /**Footer**/

    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: var(--color-darkbackground);
    }

    .container-without-subscribe {
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
        gap: 0px;
    }

    .footer-container {
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
        padding-left: 15px;
    }

    .container-logo-info {
        margin-right: 120px;
        margin-bottom: 0px;
    }

    .footer-logos {
        display: inline-block;
    }

    .container-social-media {
        margin-bottom: 0px;
    }

    .footer-soc-med {
        text-align: left;
    }

    .container-subscribe {
        margin-left: 80px;
    }

    .form-footer {
        justify-content: space-between;
    }

    .footer-input {
        width: 264px;
    }
}